
.loginBody {
    position: absolute;
    padding-top: 15 vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-bottom: 10%;
    z-index: 999;

}

/* 3EADA6*/
.loginBox {
    margin-top: 10vh;
    background-color: rgba(9, 9, 90, 0);
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    padding-bottom: 1%;
    align-items: center;
    width: 30%;
    border-radius: 25px;
    -webkit-box-shadow: 3px 10px 41px 3px rgba(62, 173, 166, 1);
    -moz-box-shadow: 3px 10px 41px 3px rgba(62, 173, 166, 1);
    box-shadow: 3px 10px 41px 3px rgba(62, 173, 166, 1);
}

.loginBox input {
    width: 80%;
    padding: 2%;
    border-radius: 8 px;
    border-width: 0 0 2px;
    border-color: gray;
    text-align: center;
    margin: 2%;

}

.loginBox input:focus {
    outline: none;
    border-color: darkslategray;

}

.loginBox input::placeholder {
    text-align: center;
}

.loginBox button {
    background-color: #3EADA6;
    /* Font*/
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: bold;
    /* Button stuff*/
    border-radius: 14px;
    padding: 15px;
    margin-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-color: rgba(0, 0, 0, 0);
    font-size: 18px;
    transition: 0.3s;

}

.loginBox button:hover  {
    border-color: #EC6261;
    background-color: white;

}
.loginBox button:hover .fa-arrow-right{
    color: #EC6261;
}
.loginBox button:hover .fa-arrow-right p{
    color: #EC6261;
}

.fa-arrow-right p {
    display: inline;
    color: white; 
    font-family: Roboto;
}

.fa-arrow-right {
    color: white; 
    font-size: x-large;
}

.overlayL {
    position: relative;
    width: 100%;
    height: 100%;

}

.shapeL {
    
    background-color: rgba(62, 173, 166, 1);
    width: 100%;
    height: 100%;
    padding: 45vh;
    clip-path: polygon(67% 67%, 81% 60%, 91% 48%, 100% 28%, 100% 100%, 0 99%, 0 71%, 11% 65%, 29% 62%, 47% 64%);
    z-index: -1;
    animation-name: backroundAnim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
