.MainBody {
    /* display*/
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    position: absolute;
    width: 100%;
    z-index: 999;
    overflow: hidden;


}

.shape {
    background-color: lightgray;
    clip-path: polygon(67% 67%, 81% 60%, 91% 48%, 100% 28%, 100% 100%, 0 99%, 0 71%, 11% 65%, 29% 62%, 47% 64%);
    padding: 45vh;
    z-index: -1;
    overflow: hidden;
}

.overlayMB {
    position: relative;
    width: 100%;
    height: 86vh;
    overflow: hidden;
}

.MainBody h1 {
    /* font*/
    font-family: Roboto;
    font-weight: 400;
    text-align: center;
    justify-content: center;
}

.MainBody h2 {
    /* font*/
    font-family: Roboto;
    color: rgba(0, 0, 0, 60%);
    font-weight: 300;
    font-size: 25px;
    text-align: center;
    justify-content: center;
}

.MainBody input {
    transition: 0.5s;
    padding: 17px;
    text-align: center;
    border: #EC6261 solid 1px;
    outline: none;
    font-size: 17px;


}

.line {
    display: block;
    height: 1px;
    background-color: black;
    width: 280px;
}

.MainBody input:focus {
    background-color: #EC6261;
    color: white;
    border: white solid 1px;


}

.MainBody ::placeholder {
    font-size: 17px;
    color: #EC6261;
    opacity: 1;
}


.overlayMBS {
    display: none;
}



@media only screen and (max-width: 720px) {
    .overlayMB {
        touch-action: none;
        -ms-touch-action: none;
        display: none;
    }

    .overlayMBS {
        overflow: hidden;
        display: block;
        position: relative;
        width: 100vw;
        height: 100vh;
        
    }

    .shape {
        background-color: #3EADA6;
        clip-path: polygon(53% 31%, 100% 0, 100% 100%, 0 100%, 0 38%);
        margin-top: 23vh;
        z-index: -1;
    }

    .MainBodySmall {
        margin-top: 34vh;
        overflow: hidden;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        height: 100vh;
        width: 100%;
        z-index: 999;



    }

    .MainBodySmall div {
        width: 80%;

    }

    .MainBodySmall input {

        outline: none;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        font-size: 17px;
        /*        border-width: 0 0 1px;*/
        border-width: 0 0 0px;
        display: inline;
        width: 80%;
        margin-left: 9%;
        background-color: rgba(0, 0, 0, 0);



    }

    .MainBodySmall ::placeholder {
        text-align: center;
        font-size: 17px;
    }

    .MainBodySmall button {
        margin-top: 20px;
        background-color: #3EADA6;
        /* Font*/
        color: white;
        font-family: Roboto;
        font-weight: bold;
        /* Button stuff*/
        border-radius: 14px;
        padding: 15px;
        padding-left: 55px;
        padding-right: 55px;
        border-color: white;
        font-size: 18px;
        transition: 0.3s;
    }

    .MainBodySmall .sign {
        margin-top: 80px;
        background-color: white;
        color: #3EADA6;
        border-color: #3EADA6;
        border-color: rgba(0, 0, 0, 0%);


    }


    .MainBodySmall .fa-solid {
        display: inline;
    }

}