.registerBody{
    width: 100vw;
    height: 99vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerDiv{
    width: 30%;
    padding-bottom: 15px;
    margin-top: 22vh;
    border-radius: 25px;
    -webkit-box-shadow: 3px 10px 41px 3px rgba(62, 173, 166, 1);
    -moz-box-shadow: 3px 10px 41px 3px rgba(62, 173, 166, 1);
    box-shadow: 3px 10px 41px 3px rgba(62, 173, 166, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.registerDiv input {
    width: 85%;
    padding: 2%;
    border-radius: 8 px;
    border-width: 0 0 2px;
    border-color: gray;
    text-align: center;
    margin: 2%;

}

.registerDiv input:focus {
    outline: none;
    border-color: darkslategray;

}

.registerDiv input::placeholder {
    text-align: center;
}
.registerDiv button {
    background-color: #3EADA6;
    /* Font*/
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: bold;
    /* Button stuff*/
    border-radius: 14px;
    padding: 15px;
    margin-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-color: rgba(0, 0, 0, 0);
    font-size: 18px;
    transition: 0.3s;

}

.registerDiv button:hover  {
    border-color: #EC6261;
    background-color: white;

}
.registerDiv button:hover .fa-arrow-right{
    color: #EC6261;
}
.registerDiv button:hover .fa-arrow-right p{
    color: #EC6261;
}

.fa-arrow-right p {
    display: inline;
    color: white; 
    font-family: Roboto;
}

.fa-arrow-right {
    color: white; 
    font-size: x-large;
}